doctype html


html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/loading-bar.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src='/js/scripts.js')
        script(src='/js/loading-bar.js')
    body
        main
            block header
                header(style='margin-bottom: 50px;')
                    nav.navbar.navbar-dark.bg-dark
                        img.movieDB(src='https://www.themoviedb.org/static_cache/v4/logos/powered-by-rectangle-green-dcada16968ed648d5eb3b36bbcfdd8cdf804f723dcca775c8f2bf4cea025aad6.svg' alt='Powered by TMDB')
                        span
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                button.btn.btn-outline-success.my-2.my-sm-0.buttonS(type="click" onclick='customRedirect("/")') Ожидаемые фильмы
                                button.btn.btn-outline-success.my-2.my-sm-0.buttonS(type="click" onclick='customRedirect("/popular")') Популярные фильмы
                        form.form-inline.my-2.my-lg-0(id="searchForm", onsubmit="event.preventDefault();")
                                input.form-control.mr-sm-2(type="search" placeholder="Поиск" aria-label="Поиск" value="Поиск" onchange='storeInput(value)')
                                button.btn.btn-outline-success.my-2.my-sm-0.buttonS(type="click" onclick='doSearch()') Поиск
                                button.btn.btn-outline-success.my-2.my-sm-0.buttonS(type="click" onclick='getLastSearch()') Последние результаты


            block content