

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}



/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #081c24;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.header img {
  max-height: 50px;
  margin: 5px;
}



/* Homepage Container
   ========================================================================== */

.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}



/* single movie
   ========================================================================== */

.singleMovie {
  text-align: center;
}

.singleMovie > * {
  margin-bottom: 5px;
}

.singleMovie-image {
  width: 100%;
  height: 400px;
  border-radius: 10px;

}

.singleMovie-image:hover {
  transform: scale(1.01);
}



/* Profile Page
   ========================================================================== */
.profileWrapper {
  display: flex;
  width: 100%;
}

.custom_bg {
  background-blend-mode: darken;
}

.profile {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
}

.profile-tagline {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}

.profile-image {
  height: 100%;
  flex-grow: 1;
  flex-basis: 50%;

}

.profile-details {
  flex-basis: 80%;
  flex-grow: 1;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
}

.profile-details > * {
  margin-bottom: 20px;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imageWrapper img {
  border-radius: 10px;
  margin: 10px;
}


/* Buttons
   ========================================================================== */

.button {
  height: 50px;
  line-height: 50px;
  width: 20%;
  text-decoration: none;
  text-align: center;
  font-size: 20px
}

.button-back {
  color: #FFFFFF;
  background-color: #85807a;
  border-radius: 5px;

}

.button-back:hover {
  background-color: #a6a19b;
}
